.collapsible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 14rem;
  min-height: 9rem;
  color: var(--color-gray-900);
}

.icon {
  width: 0.75rem;
  height: 0.75rem;
  transition: transform 150ms ease-out;
}

.trigger {
  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-200);
    }
  }

  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: var(--color-gray-900);
  background-color: var(--color-gray-100);
  border: 0;
  border-radius: 0.25rem;
  outline: 0;

  &:active {
    background-color: var(--color-gray-200);
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue);
  }

  &[data-panel-open] .icon {
    transform: rotate(90deg);
  }
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: var(--collapsible-panel-height);
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: all 150ms ease-out;

  &[data-starting-style],
  &[data-ending-style] {
    height: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0 0.5rem 1.75rem;
  margin-top: 0.25rem;
  cursor: text;
  background-color: var(--color-gray-100);
  border-radius: 0.25rem;
}
