.paragraph {
  max-width: 16rem;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-gray-900);
  text-wrap: balance;
}

.link {
  @media (hover: hover) {
    &:hover {
      text-decoration-line: underline;
    }
  }

  color: var(--color-blue);
  text-decoration-line: none;
  text-decoration-thickness: 1px;
  text-decoration-color: color-mix(
    in oklab,
    var(--color-blue),
    transparent 40%
  );
  text-underline-offset: 2px;
  outline: 0;

  &[data-popup-open] {
    text-decoration-line: underline;
  }

  &:focus-visible {
    text-decoration-line: none;
    border-radius: 0.125rem;
    outline: 2px solid var(--color-blue);
  }
}

.popup {
  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--color-gray-200);
    box-shadow:
      0 10px 15px -3px var(--color-gray-200),
      0 4px 6px -4px var(--color-gray-200);
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-gray-300);
    outline-offset: -1px;
  }

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 240px;
  overflow: hidden;
  background-color: canvas;
  border-radius: 1rem;
  transition:
    transform 150ms,
    opacity 150ms;
  transform-origin: var(--transform-origin);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }
}

.arrow {
  display: flex;

  &[data-side="top"] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side="bottom"] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side="left"] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side="right"] {
    left: -13px;
    rotate: -90deg;
  }
}

.arrow-fill {
  fill: canvas;
}

.arrow-outer-stroke {
  @media (prefers-color-scheme: light) {
    fill: var(--color-gray-200);
  }
}

.arrow-inner-stroke {
  @media (prefers-color-scheme: dark) {
    fill: var(--color-gray-300);
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

.summary {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-gray-900);
  text-wrap: pretty;
}
